services:
    kavita:
        image: jvmilazz0/kavita:latest    # Using the stable branch from the official dockerhub repo.
        container_name: kavita
        volumes:
            - /home/ok/manga:/manga
            - /home/ok/comics:/comics
            - /home/ok/books:/books
            - /home/ok/.config/kavita/config:/kavita/config     # /kavita/config must not be changed
        environment:
            - TZ=America/New_York
        ports:
            - "5000:5000"
        restart: unless-stopped
