[mgr]
ratio = [1, 2, 3]
sort_by = "alphabetical"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
linemode = "none"
show_hidden = true
show_symlink = true
scrolloff = 5
[preview]
max_width = 2400
max_height = 3600
